
@import url('https://fonts.googleapis.com/css?family=Poppins:400');

html {font-size: 100%;} /*16px*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.color-purple {
    color: #916BBF
}

.color-green {
    color: #4E9F3D;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    background-color: #282A3A;
    color: #DCD7C9;
}

a {color: inherit; text-underline-offset: .2rem; text-decoration: none;}
a:hover {text-decoration: underline; text-underline-offset: .25rem;}

h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.h-100 {
    height: 100vh;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.mt-2 {
    margin-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.link {
    text-decoration: underline !important;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1.5rem;
}

.no-underline {
    text-decoration: none;
}

ul {
    padding-left: 2rem;
}

ul>li {
    margin-block: .5rem;
}

.content {
    padding: 5rem;
}

.mt-5 {
    margin-top: 5rem;
}

.gap-2 {
    gap: .5rem;
}

#breadcrumbs {
    flex: 1
}

#logo {
    flex: 2;
    text-align: center;
}

#nav {
    flex: 1;
    display: flex;
    justify-content: end;
}

#date-form {
    width: fit-content;
    margin-block: 0;
    margin-inline: auto;
    margin-top: 2rem;
}

#date-form button {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
}

#date-form label {
    font-weight: bold;
    text-align: center;
}

#date-form button:hover {
    opacity: .8;
    cursor: pointer;
}

#date-form input {
    font-size: 1.333rem;
    color: inherit;
    background-color: inherit;
    border: 2px solid white;
    padding: .75rem;
    border-radius: .5rem;
}

#year-input {
    max-width: 6rem;
}

#month-input, #day-input {
    max-width: 4.5rem;
}

.gap-4 {
    gap: 1rem;
}

.no-style {
    list-style: none;
}

.ml-4 {
    margin-left: 4rem;
}

#view-docs {
    transform: scale(1.5);
}