@import url('https://fonts.googleapis.com/css?family=Poppins:400');

* {
    box-sizing: border-box;
}

html {font-size: 100%;} /*16px*/

body {
  background: #171D20;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: white;
  padding: 3rem;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: .1rem;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

code {
    font-size: 16px;
    margin-inline: .25rem;
    padding: .35rem;
    border-radius: .25rem;
    background-color: #222a2d;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.container p {
    width: fit-content;
}

.mt-2 {
    margin-top: 2rem;
}

.if-alert {
    background-color: #ED4F32;
    padding: 1rem;
    font-weight: bold;
    margin-inline: auto;
}

.bool {
    color: #5c3bc2;
}

.str {
    color: #ffba00;
}

.list {
    color: #e0455e;
}

.etc {
    color: #15CD72;
}

.else {
    background-color: #5c3bc2;
    color: white;
    padding: 1rem;
    font-weight:  bold;
    width: fit-content;
    margin-inline: auto;
    letter-spacing: .1rem;
}

.elif {
    background-color: #0F3460;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: .1rem;
    width: fit-content;
    margin-inline: auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}